#meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.food{
    border: 1px solid wheat;
    box-shadow: 2px 1px gray ;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}    
.food-strMeal{
    color: gray;
}